<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Speech-to-text Translation</h1>
      <a href="{{ url_for('home') }}" class="header-btn"> &#x2190; </a>
    </header>
    <main>
      <h1>Input</h1>
      <p>{{transcript}}</p>
      <h1>Translation</h1>
      <p>{{in_out}}</p>
    </main>
  </body>
</html>
